<div class="home">


    <a href="/"><img src="static\images\3000.webp" style="height:60px; width: 60px; border-radius: 20px;"></a>

    <div style="position:absolute; top: 0; right: 220px; width: 100px; text-align:right;">
        <a href="create" style="text-decoration: none;">SignUp</a>
    </div>

    <div style="position:absolute; top: 0; right: 130px; width: 100px; text-align:right;">
        <a href="login" style="text-decoration: none;">Login</a>
    </div>

    <div style="position:absolute; top: 0; right: 20px; width: 100px; text-align:center;">
        <a href="booking" style="text-decoration: none;">Booking</a>
    </div>

</div>

<div class="one"> Flight Booking</div>

</div>
<footer class="container-fluid bg-yellow text-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h4><a href=""><span style="color: rgb(36, 39, 216); margin-left:40%">Welcome</span></a></h4>
                <p style="margin-left:20%">Welcome to the flight world. Here you can book the flight of your desire.
                    Believe us you will be having a memorable journey</p>
            </div>

            <div class="col-sm-4">
                <h4> <a href="contact.html"><span style="color: rgb(44, 24, 217); margin-left:40%"> Contact Us</span>
                    </a></h4>
                <p style="margin-left:40%">Phone:
                    <a class="nav-link" href="tel:+919658745855" style="margin-left:2%">+919658745855</a>
                </p>
            </div>
            <div class="col-sm-4">
                <h4><a href=""><span style="color: rgb(46, 13, 212); margin-left:40%">About Us</span></a></h4>
            </div>
        </div>
    </div>
</footer>